.bg-black {
    background-color: black !important;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color: rgb(255, 255, 255);
    border: none;
}

.custom-toggler.navbar-toggler:focus {
    border: none;
    outline: none;
}

.logo-nav-size {
    height: auto;
    width: 80px;
}

.active-option {
    border-bottom: 2px solid;
}

@media (max-width: 1200px) {
    .custom-form-control {
        width: auto !important;
    }
}

@media (max-width: 576px) {
    .col.custom-col-footer {
        display: flex;
        justify-content: center;
        width: 100%;
        flex-basis: auto;
    }
    .custom-form-control {
        width: 177px !important;
    }
}

.custom-text-color {
    color: #47525e;
}

.custom-page-title {
    justify-content: center;
}

.btn-custom {
    background-color: #47525e;
    font-weight: bold;
    color: #fff;
}

.btn-custom:hover {
    background-color: #28a745;
    color: #fff;
}

.nav-link.text-light.disable-btn {
    color: gray !important;
    pointer-events: none;
}


/* -- Produto -- */

.img-prod-size {
    width: 100%;
    height: auto;
}

.img-prod-stars {
    width: 75%;
    height: auto;
}

.prod-title {
    font-size: 1.2rem;
}

p.prod-price {
    font-size: 1.8rem;
    font-weight: bold;
}