@font-face {
    font-family: "Regular";
    src: url("../Fontes/MADE\ TOMMY\ Regular_PERSONAL\ USE.otf");
}


/* ---- General ---- */

.wrapper {
    padding: 0 40px;
    max-width: 1280px;
}

.wr-section {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
}

.font {
    text-decoration: none;
    font-family: Regular;
    font-size: 20px;
    color: #ffffff;
}

.font.ft-bold {
    text-decoration: underline;
}


/* ---- Header ---- */

.wr-header {
    display: flex;
    align-items: center;
}

.header {
    background-color: black;
    display: flex;
    justify-content: center;
}

.header .input-search {
    width: 0;
    margin: 0;
    border: 0;
    padding: 0;
}

.header .nav-bar {
    width: 63%;
    max-width: 780px;
}

.header .link-list {
    display: flex;
    justify-content: space-around;
}

.header .icon-search {
    width: 40px;
    height: auto;
}


/* ---- User Container ----- */

.user-container {
    display: flex;
    width: 15%;
    justify-content: center;
}

.user-container .user-container {
    display: flex;
}

.user-container .user-options {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.font.ft-user {
    font-size: 15px;
}

.font.ft-user:nth-child(1) {
    margin-bottom: 10px;
}

.user-icon {
    width: 41px;
}

.cart-icon {
    height: 41px;
}